{% extends 'base.html' %}
{% block header %}
  <h1 class="header">{% block title %}sign up{% endblock %}</h1>
{% endblock %}s

{% block content %}
	<form method="post" class="loginform" action="/auth/register">
	    <label for="username">Username</label>
	    <input name="username" id="username"  class="formcontrol" placeholder="your name..." required>
	    <label for="password">Password</label>
	    <input type="password" name="password" id="password"  class="formcontrol" placeholder="your password... " required>
	    <button type="submit" class="btn btn-submit">Register</button>	
  </form>
{% endblock %}