<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %} - Facebook</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Josefin+Slab:wght@600&family=Quicksand:wght@300&family=Syne+Mono&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">  
</head>
<body>
	<nav id="navigation">
		<h1>Facebook</h1>
		<ul>
			{% if g.user %}
				<li class="profile"><span>{{ g.user['username'] }}</span></li>			
				<li><a href="{{ url_for('auth.logout') }}" class="btn">Log Out</a></li>
			{% else %}
				<li><a href="{{ url_for('auth.register') }}" class="btn">Sign Up</a></li>
				<li><a href="{{ url_for('auth.login') }}" class="btn">Log In</a></li>
			{% endif %}
		</ul>
	</nav>
	<section class="content">
		<header>
			{% block header %}{% endblock %}   	
		</header>
		{% for message in get_flashed_messages() %}
			<div class="flash" id="flash">{{ message }}</div>
		{% endfor %}
		{% block content %}{% endblock %}
	</section>
</body>
</html>

